:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #101010;
}

/* Fonts */
@font-face {
  font-family: 'Yakin';
  src: url(./Fonts/Yakin.ttf);
}

.gothic-a1-light {
  font-family: 'Gothic A1';
  font-weight: 300;
  font-style: normal;
}

.gothic-a1-regular {
  font-family: 'Gothic A1';
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: 'extrabold';
}

.montserrat {
  font-family: 'DM Sans' sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-med {
  font-family: 'DM Sans' sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.exo-2 {
  font-family: 'Exo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/*Border & Scale SmallFigures*/
.hover-scale-101-smallFigures {
  border: 1px solid #101010;
}

.hover-scale-101-smallFigures:hover {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1.01)
    scaleY(1.01);
  border: 1px solid #353535;
}

/*Card transition for collectible component*/
@keyframes hero-images {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hover-scale-101-collectible:nth-child(1) {
  animation-delay: 0s; /* No delay for the first image */
}

.hover-scale-101-collectible:nth-child(2) {
  animation-delay: 200ms; /* Delay the second image by 500ms */
}

.hover-scale-101-collectible:nth-child(3) {
  animation-delay: 500ms; /* Delay the third image by 1000ms */
}

.hover-scale-101-collectible:nth-child(4) {
  animation-delay: 800ms; /* Delay the fourth image by 1500ms */
}

.hover-scale-101-collectible {
  border: 1px solid #101010;
  animation: hero-images linear both 800ms;
}

.hover-scale-101-collectible:hover {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1.01)
    scaleY(1.01);
  border-left: 1px solid #353535;
  border-right: 1px solid #353535;
  border-top: 1px solid #353535;
  border-bottom: 1px solid #00ffad;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/*Manga component hover over books*/
.flicker-hover:hover {
  animation: flicker-hover 1000ms infinite linear both;
}
@keyframes flicker-hover {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

/* Images in the First Section */
@keyframes hero-images {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-image {
  animation: hero-images linear both 800ms;
  transition: all;
}

.hero-image:nth-child(1) {
  animation-delay: 0s; /* No delay for the first image */
}

.hero-image:nth-child(2) {
  animation-delay: 200ms; /* Delay the second image by 500ms */
}

.hero-image:nth-child(3) {
  animation-delay: 500ms; /* Delay the third image by 1000ms */
}

.hero-image:nth-child(4) {
  animation-delay: 800ms; /* Delay the fourth image by 1500ms */
}

/*Cards scroll animation*/
@keyframes efecto {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#card {
  view-timeline-name: --card;
  view-timeline-axis: block;

  animation-timeline: --card;
  animation-name: efecto;

  animation-range: entry 15% contain 25%;
  animation-fill-mode: both;

}

@keyframes animacion {
  from {
    opacity: 0;
    scale: 80%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.openeffect {
  animation: animacion 300ms linear both;
}

@layer components {
  .items-details {
    @apply pt-2 uppercase text-[11.5px] tracking-[1.32px] leading-[13.5px] gothic-a1-regular font-normal;
  }
  .items-details-small-figures {
    @apply uppercase text-[12px] tracking-[1.32px] leading-[13.5px] gothic-a1-regular font-normal;
  }

  .items-details-keychains {
    @apply uppercase text-[15px] sm:text-[14px] -tracking-[0.2] leading-[18px] text-left mt-[25px];
  }

  .sub-title {
    @apply text-[19px] leading-[19px] tracking-[0.5px] gothic-a1-light md:text-[19px] md:leading-[19px] md:-tracking-[1px] text-stone-700/70 gothic-a1-regular text-left;
  }
  .sub-title-small-figures {
    @apply text-[19px] leading-[19px] tracking-[0.5px] gothic-a1-light md:text-[12px] md:leading-[14px] md:-tracking-[1px] text-stone-700/70 gothic-a1-regular text-left uppercase;
  }

  .title {
    @apply text-[32px] md:text-[40px] leading-[32px] -tracking-[1px] md:tracking-normal md:leading-[30.4px] gothic-a1-regular pt-2;
  }
  .title-small-figures {
    @apply text-[32px] md:text-[30px] leading-[30px] -tracking-[1px] md:tracking-normal md:leading-[30.4px] gothic-a1-regular pt-[2px];
  }

  .figure-name {
    @apply mt-2 capitalize text-[16px] tracking-[0.2px] leading-[14px] gothic-a1-regular font-normal text-center;
  }
  .figure-name-small-figures {
    @apply mt-2 capitalize text-[18px] tracking-[0.2px] leading-[16px] gothic-a1-regular font-normal text-center;
  }
  .figure-name-keychains {
    @apply mt-[15px] sm:mt-[8px] capitalize text-[17px] sm:text-[16px] tracking-[0.2px] leading-[18px] sm:leading-[24px] text-left font-semibold;
  }

  .social-medias {
    @apply lowercase text-[12px] leading-[12px] tracking-[1.5px] gothic-a1-light md:text-[16px] md:leading-[16px] md:tracking-[3px] hover:text-blue-800 duration-200 ease-in-out;
  }

  .custom-item-details {
    @apply mt-[10px] uppercase text-[11px] tracking-[1.32px] leading-[16px] gothic-a1-regular font-normal border-b pb-1 text-blanco;
  }

  .custom-title {
    @apply text-[60px] tracking-normal leading-[76.8px] mt-4 poppins-regular text-blanco text-nowrap;
  }
  .custom-title-manga {
    @apply text-[36px] tracking-normal leading-[46.8px] mt-4 poppins-regular text-blanco;
  }

  .custom-description {
    @apply mb-[2px] uppercase text-[11px] tracking-[1.32px] leading-[14px] gothic-a1-regular font-normal text-lightgray;
  }

  .custom-anime {
    @apply text-[16px] tracking-wide leading-[28.8px] gothic-a1-light text-blanco;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
