:root {
  box-sizing: border-box;
  background: #f5f5f7
}

.hiddenElement {
  opacity: 0;
}

.show {
  opacity: 1;
  transform: translateY(50%);
  transition: 1s;
}

.gothic-a1-light {
  font-family: "Gothic A1";
  font-weight: 300;
  font-style: normal;
}

.gothic-a1-regular {
  font-family: "Gothic A1";
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: "extrabold";
}

.montserrat {
  font-family: "DM Sans" sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-med {
  font-family: "DM Sans" sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
}

.opensans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.borders-background {
  background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),linear-gradient(127deg, rgba(0, 47, 255, 0.8), rgba(0, 255, 0, 0) 70.71%),linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
  transition: width, 35s;
}

.hover-scale-101:hover {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1.01) scaleY(1.01);
}

@media (max-width: 768px) {
  .hover-scale-101 {
    transform: translate(0,0) rotate(0) skewX(0) skewY(0) scaleX(1.01) scaleY(1.01)
  }
  
}

.manga-images {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  transition: 1s ease;
  border: 2px solid black;

}

.manga-images:hover {
  cursor: pointer;
  filter: contrast(120%);
}

.scroll-container {
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@font-face {
  font-family: 'Yakin';
  src: url(./Fonts/Yakin.ttf);
}

@layer components {
  .items-details {
    @apply pt-2 uppercase text-[11.5px] tracking-[1.32px] leading-[13.5px] gothic-a1-regular font-normal
  }
  .items-details-small-figures {
    @apply uppercase text-[12px] tracking-[1.32px] leading-[13.5px] gothic-a1-regular font-normal
  }

  .items-details-keychains {
    @apply uppercase text-[15px] sm:text-[14px] -tracking-[0.2] leading-[18px] text-left mt-[25px]
  }

  .sub-title {
    @apply text-[19px] leading-[19px] tracking-[0.5px] gothic-a1-light md:text-[19px] md:leading-[19px] md:-tracking-[1px] text-stone-700/70 gothic-a1-regular text-left
  }
  .sub-title-small-figures {
    @apply text-[19px] leading-[19px] tracking-[0.5px] gothic-a1-light md:text-[12px] md:leading-[14px] md:-tracking-[1px] text-stone-700/70 gothic-a1-regular text-left uppercase
  }

  .title {
    @apply text-[32px] md:text-[40px] leading-[32px] -tracking-[1px] md:tracking-normal md:leading-[30.4px] gothic-a1-regular pt-2
  }
  .title-small-figures {
    @apply text-[32px] md:text-[30px] leading-[30px] -tracking-[1px] md:tracking-normal md:leading-[30.4px] gothic-a1-regular pt-[2px]
  }

  .figure-name {
    @apply mt-2 capitalize text-[16px] tracking-[0.2px] leading-[14px] gothic-a1-regular font-normal text-center
  }
  .figure-name-small-figures {
    @apply mt-2 capitalize text-[18px] tracking-[0.2px] leading-[16px] gothic-a1-regular font-normal text-center
  }
  .figure-name-keychains {
    @apply mt-[15px] sm:mt-[8px] capitalize text-[17px] sm:text-[16px] tracking-[0.2px] leading-[18px] sm:leading-[24px] text-left font-semibold
  }

  .social-medias {
    @apply lowercase text-[12px] leading-[12px] tracking-[1.5px] gothic-a1-light md:text-[16px] md:leading-[16px] md:tracking-[3px] hover:text-blue-800 duration-200 ease-in-out
  }

  .custom-item-details {
    @apply mt-[10px] uppercase text-[12px] tracking-[1.32px] leading-[16px] gothic-a1-regular font-normal border-b pb-1
  }

  .custom-title {
    @apply text-[64px] tracking-normal leading-[76.8px] mt-4 gothic-a1-regular
  }
  .custom-title-manga {
    @apply text-[36px] tracking-normal leading-[46.8px] mt-4 gothic-a1-regular
  }

  .custom-description {
    @apply mb-[2px] uppercase text-[11px] tracking-[1.32px] leading-[14px] gothic-a1-regular font-normal text-stone-700/50
  }

  .custom-anime {
    @apply text-[20px] tracking-normal leading-[28.8px] gothic-a1-light
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
