:root {
  box-sizing: border-box;
}

.gothic-a1-light {
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.gothic-a1-regular {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.yuji-syuku-regular {
  font-family: "Yuji Syuku", serif;
  font-weight: 400;
  font-style: normal;

}

.borders-background {
  background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
  transition: width, 35s;
}

@layer components {
  .items-details {
    @apply pt-2 uppercase text-[11.5px] tracking-[1.32px] leading-[13.5px] gothic-a1-regular font-normal
  }

  .sub-title {
    @apply text-[19px] leading-[19px] tracking-[0.5px] gothic-a1-light md:text-[19px] md:leading-[19px] md:-tracking-[1px] text-stone-700/70 gothic-a1-regular text-left
  }

  .title {
    @apply text-[32px] md:text-[40px] leading-[32px] -tracking-[1px] md:tracking-normal md:leading-[30.4px] gothic-a1-regular pt-2
  }

  .figure-name {
    @apply pt-2 capitalize text-[16px] tracking-[0.2px] leading-[14px] gothic-a1-regular font-normal
  }

  .logo {
    @apply md:text-[16px] text-[11px] leading-[11px] md:leading-[16px] md:tracking-[2px] yuji-syuku-regular drop-shadow-xl
  }

  .social-medias {
    @apply lowercase text-[12px] leading-[12px] tracking-[1.5px] gothic-a1-light md:text-[16px] md:leading-[16px] md:tracking-[3px] hover:text-blue-800 duration-200 ease-in-out
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
